<div class="card" id = "{{id}}">
    <div class="top">
        <div class="points" ng-if="points > 0">
            {{points}}
        </div>
        <div class="color {{color}}">
        </div>
    </div>
    <div class="bottom">
        <div class="costs">
            <div ng-repeat = "(cost_color, cost_amt) in cost" class="cost" ng-if="cost_amt > 0">
                <div class="cost-amt">{{cost_amt}}</div>
                <img src = "howtoplay/img/splendor/{{cost_color}}.svg" class="color {{cost_color}}"></img>
            </div>
        </div>
    </div>
</div>