<div id="splendor" ng-controller="SplendorCtrl">
    <div ng-joy-ride="startJoyRide" config="config" on-finish="onFinish()"  on-skip="onFinish()" cur-step = "joyRideStep"></div>
    
    <button ng-click="showTutorial()">Start Tutorial</button>
    <button ng-click="playDemo()" ng-if="!demoStarted" class="demo-button">Play a Demo</button>
    <button ng-click="playDemo()" ng-if="demoStarted" class="demo-button">Restart Demo</button>
    <div class="container-fluid">
        <div class="row">
            <div class="players col-xs-8">
                <div ng-repeat="p in players">
                    <div id="~~p.name%$" ng-class="{'selected': curPlayer.name == p.name}" class="player-block">
                        <div class="image-and-stats">
                            <div class="player-name">~~p.name%$</div>
                            <img src="/howtoplay/img/chars/~~p.name%$.jpg" style="width:95px; height:130px;">
                            <img src="/howtoplay/img/first.png" style="width:50px; height:50px;" ng-if="p.firstPlayer" class="first-player">
                            <div class="~~p.name%$-point-count">Points: ~~getPlayerPoints(p.name)%$</div>
                            <div class="~~p.name%$-gold-count">Gold: ~~getPlayerGemCount(p.name, 'gold')%$<span class="gem-change" ng-if="getPlayerGemChange(p.name, 'gold') != 0" ng-class="{'gem-change-increase':getPlayerGemChange(p.name, 'gold') > 0, 'gem-change-decrease': getPlayerGemChange(p.name, 'gold') <0} "> &nbsp(~~(getPlayerGemChange(p.name, 'gold') > 0 ? '+' : '') + getPlayerGemChange(p.name, 'gold')%$)</span></div>
                            <div class="~~p.name%$-total-gem-count">Total Gems: ~~p.gemCount()%$</div>
                            <div class="reserved-count" ng-if="p.name !='you'">Reserved Cards: ~~p['reservedCards'].length%$</div>
                            <div class="reserved-cards" ng-if="p.name=='you'">
                                <card ng-repeat="(index, c) in p['reservedCards']" class="~~p.name%$-reserved-~~index%$" points="c.points" color="c.color" cost="c.cost" ng-click="showBuyButton('reserved', index)" ng-class="{'selected': selected_deck == 'reserved' && selected_card_index == index}" >
                                </card>
                            </div>
                        </div>
                        <div class = 'nobles-and-cards'>
                            
                            <div class="nobles">
                                <div ng-repeat="(index, c) in p['nobles']" class="noble-container">
                                    <noble points="c.points" requirements="c.requirements"  >
                                    </noble>
                                </div>
                            </div>
                            <div class="scoreboard ~~p.name%$-scoreboard">
                                <div ng-repeat="(i, color) in colors" class="color-category ~~p.name%$-~~color%$-deck">
                                    <div class="gem">
                                        <span class = "color ~~color%$" >&nbsp</span>
                                        <div class="gem-count">
                                            <div class="~~p.name%$-~~color%$-gem-count gem-count-label">Gems: ~~getPlayerGemCount(p.name, color)%$<span class="gem-change" ng-if="getPlayerGemChange(p.name, color) != 0" ng-class="{'gem-change-increase':getPlayerGemChange(p.name, color) > 0, 'gem-change-decrease': getPlayerGemChange(p.name, color) <0} ">&nbsp(~~(getPlayerGemChange(p.name, color) > 0 ? '+' : '') + getPlayerGemChange(p.name, color)%$)</span></div>
                                            <div class="~~p.name%$-~~color%$-building-count">Cards: ~~getPlayerBuildingCount(p.name, color)%$</div>
                                            <div>Total: ~~getPlayerGemCount(p.name, color)+getPlayerBuildingCount(p.name, color)%$</div>
                                        </div>
                                    </div>
                                    <div class="deck">
                                        <div ng-repeat="(index, c) in p['deck'][color]" class="card-container">
                                            <card points="c.points" color="c.color" cost="c.cost" class="~~p.name%$-~~color%$-~~index%$">
                                            </card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game col-xs-4">
                <div id="game-messages">
                    <div class="message" ng-repeat="msg in game_messages track by $index">
                        ~~msg%$
                    </div>
                    
                </div>
                <div id="board" ng-show="(demoStarted || learningGame)">
                    <div id = "nobles" align="center">
                        <div id="nobles-label">Nobles</div>
                        <div id="nobles-cards">
                        <noble ng-repeat="(index, c) in board_nobles"  points="c.points" requirements="c.requirements" >
                        </noble>
                        </div>
                    </div>
                    <div class="board-cards">
                    <div id = "level3-cards" align="center" ng-show="board['deck 3'].length > 0">
                        <div id="level3-label" class="deck-label">Deck 3: </div>
                        
                        <card ng-repeat="(index, c) in board['deck 3']" class="deck-3-~~index%$" points="c.points" color="c.color" cost="c.cost" ng-click="showBuyButton('deck 3', index); showReserveButton('deck 3', index)" ng-class="{'selected': selected_deck == 'deck 3' && selected_card_index == index}" >
                        </card>
                    </div>
                    <div id = "level2-cards" align="center" ng-show="board['deck 2'].length > 0">
                        <div id="level2-label" class="deck-label">Deck 2: </div>
                        <card ng-repeat="(index, c) in board['deck 2']" class="deck-2-~~index%$" points="c.points" color="c.color" cost="c.cost" ng-click="showBuyButton('deck 2', index); showReserveButton('deck 2', index)" ng-class="{'selected': selected_deck == 'deck 2' && selected_card_index == index}">
                        </card>
                    </div>
                    <div id = "level1-cards" align="center" ng-show="board['deck 1'].length > 0">
                        <div id="level1-label" class="deck-label">Deck 1: </div>
                        <card ng-repeat="(index, c) in board['deck 1']" class="deck-1-~~index%$" points="c.points" color="c.color" cost="c.cost" ng-click="showBuyButton('deck 1', index); showReserveButton('deck 1', index)" ng-class="{'selected': selected_deck == 'deck 1' && selected_card_index == index}">
                        </card>
                    </div>
                    </div>
                    <div class="gems" align="center">
                        <div ng-repeat="(i, color) in colors" class="gem" ng-class="{'selected': selected_gems.indexOf(color) > -1}" ng-click="showSelectGem(color)" >
                            <span class = "color ~~color%$" >&nbsp</span>
                            
                            <span class = "gem-count">~~getGemCount(color)%$</span>
                        </div>
                        <div class="gem">
                            <span class = "color gold">&nbsp</span>
                            <span class = "gem-count">~~getGemCount('gold')%$</span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button ng-click="buyCard('you', selected_deck, selected_card_index)" ng-show="selected_card" class="buy-card-button">Buy Card</button>
                    <button ng-click="reserveCard('you', selected_deck, selected_card_index)" ng-show="selected_card_to_reserve" class="reserve-button">Reserve Card</button>
                    <span ng-if="show_alert"> ~~alert_message%$</span>
                    <button ng-click="takeGems('you')" ng-show="want_two_gems">Take Two ~~selected_gems[0]%$</button>
                    <button ng-click="takeGems('you')" ng-show="want_three_gems">Take 1 ~~selected_gems[0]%$, 1 ~~selected_gems[1]%$, and 1 ~~selected_gems[2]%$ </button>
                </div>
            </div>
        </div>
        <div id="return-gems" ng-show="gemsReturned">
            <div class="overlay"></div>
            <div class="modal">You have more than 10 gems. Return ~~getPlayerGemCount('you', color)-10%$ gems.
                <div class="row">
                    <div class="col-xs-3">
                        Gem
                    </div>
                    <div class="col-xs-3">
                        Amount Owned
                    </div>
                    <div class="col-xs-3">
                        Amount to Return
                    </div>
                    <div class="col-xs-3">
                        Amount Left
                    </div>
                </div>
                <div ng-repeat = "(i, color) in colors" class="row">
                    <div class="col-xs-3">
                        <div class="gem"><span class = "color ~~color%$" >&nbsp</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        ~~getPlayerGemCount('you', color)%$
                    </div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="returnedGems[color]" ng-disabled="getPlayerGemCount('you', color) <= 0" min="0" max="~~getPlayerGemCount('you', color)%$">
                    </div>
                    <div class="col-xs-3">
                        ~~getPlayerGemCount('you', color)-returnedGems[color]%$
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="gem"><span class = "color gold" >&nbsp</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        ~~getPlayerGemCount('you', 'gold')%$
                    </div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="returnedGems['gold']" ng-disabled="getPlayerGemCount('you', 'gold') <= 0" min="0" max="~~getPlayerGemCount('you', 'gold')%$">
                    </div>
                    <div class="col-xs-3">
                        ~~getPlayerGemCount('you', 'gold')-returnedGems['gold']%$
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        Total:
                    </div>
                    <div class="col-xs-3">
                        ~~curPlayer.gemCount()%$
                    </div>
                    <div class="col-xs-3">
                        ~~returnedGemCount()%$
                    </div>
                    <div class="col-xs-3">
                        ~~curPlayer.gemCount()-returnedGemCount()%$
                    </div>
                </div>
                <button ng-click="returnGems('you')" ng-show="curPlayer.gemCount()-returnedGemCount() <= 10">Return Gems</button>
            </div>
        </div>
    </div>
</div>
~~randomID%$
<link href="/howtoplay/css/splendor.css?v=~~randomID%$" rel="stylesheet">