.card{
    width: 75px;
    height: 105px;
    outline: black solid thin;
    background-color: #ffffff;
}

.card > .top{
    height:25%;
    outline: black solid thin; 
    position: relative;
}

.card > .top > .points{
    font-size: large;
    color: #ffffff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    left: 5px;
    width: 25%;
    top: 10%;

    display: inline-block;
    position:absolute;
}
.card > .top > .color{
    display: inline-block;
    float:right;
    right: 10px;
    top: 10%;
    height: 80%;
    width: 28%;
    position:absolute;
}
.noble{
    width: 75px;
    height: 105px;
    outline: black solid thin;
    background-color: #ffffff;
}

.noble > .top{
    height:25%;
    outline: black solid thin;
    position: relative;
}
.noble > .top > .noble-label{
    font-size: large;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    left: 5px;
    width: 25%;
}
.noble > .top > .points{
    font-size: large;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    right: 5px;
    width: 25%;

    display: inline-block;
    position:absolute;
}

.gem{
    display: inline-block;
    width: 75px; /*TODO: MAKE THIS DYNAMIC */
}
.gem > .color{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.gem-count{
    display: inline-block;
    width: 100%; /*TODO: MAKE THIS DYNAMIC */
    font-size: smaller;
}
.gem-count-label{
    display: inline;
}
.gem-change{
    display: inline;
}
.gem-change-increase{
    color: green;
}
.gem-change-decrease{
    color: red;
}
.card .red, .gem .red, .noble .red, .modal > .row .red  {
    background: url(../img/splendor/red.svg);
    background-size: 100% 100%;
}
.card .blue, .gem .blue, .noble .blue, .modal > .row .blue  {
    background: url(../img/splendor/blue.svg);
    background-size: 100% 100%;
}
.card .black, .gem .black, .noble .black, .modal > .row .black  {
    background: url(../img/splendor/black.svg);
    background-size: 100% 100%;
}
.card .white, .gem .white , .noble .white, .modal > .row .white {
    background: url(../img/splendor/white.svg);
    background-size: 100% 100%;
}
.card .green, .gem .green, .noble .green, .modal > .row .green  {
    background: url(../img/splendor/green.svg);
    background-size: 100% 100%;
}
.gems{
    position: relative;
}
.gem .gold, .modal > .row .gold  {
    background: url(../img/splendor/gold.svg);
    background-size: 100% 100%;
}
.card > .bottom > .costs > .cost{
    left: 2px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.card > .bottom > .costs > .cost > .cost-amt{
    height: 100%;
    width: 16px; /* TODO: make this responsive eventually */
    display: inline;
}
.card > .bottom > .costs > .cost > .color{
    height: 100%;
    display: inline;
}
.card > .bottom {
    height:75%;
    position: relative;
}
.card > .bottom > .costs{
    position: absolute;
    display: inline-block;
    bottom:0;
    left: 5px;
}

.noble > .bottom > .requirements > .requirement{
    left: 2px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.noble > .bottom > .requirements > .requirement > .requirement-amt{
    height: 100%;
    width: 16px; /* TODO: make this responsive eventually */
    display: inline;
}
.noble > .bottom > .requirements > .requirement > .color{
    height: 100%;
    display: inline;
    border: 1px solid;
}
.noble > .bottom {
    height:75%;
    position: relative;
}
.noble > .bottom > .requirements{
    position: absolute;
    display: inline-block;
    bottom:0;
    left: 5px;
}
.scoreboard{
    display:block;
    border: 1px solid black;
    float:right;
    width: 377px; /* TODO: make this responsive */
    height: 130px; /* TODO: make this responsive */
}
.scoreboard > .color-category > .deck > .card-container{
    margin-top: -78.75px; /* TODO: make this responsive */
    position:relative;
}
.scoreboard > .color-category{
    display: inline-block;
    width: 20%;
}
.scoreboard > .color-category > .deck{
    margin-top: 78.75px; /* TODO: make this responsive */
}

#you{
    display:inline-block;
}
#bob{
    display:inline-block;
}
#alice{
    display:inline-block;
}
#board{
    position:relative;
    clear:both;
    width: 500px; /*TODO: make this responsive */
    margin: 0 auto;
}
#level3-cards, #level2-cards, #level1-cards, #nobles{
    position:relative;
    margin: 0 auto;
    width:100%;
}

#level3-cards > .card, #level2-cards > .card, #level1-cards > .card, #nobles > .noble{
    position: relative;
    display: inline-block;
    text-align: left;
    
}

.player-block{
    height:400px;/*TODO: make this responsive */
}

.selected{
    background-color: lightgray;
}

.image-and-stats{
    float:left;
}

.image-and-stats > .reserved-cards {
    height: 0px;
}

.nobles-and-cards{
    float:right;
}

.nobles-and-cards > .nobles {
    position:relative;
}

.nobles-and-cards > .nobles > .noble-container{
    display: inline-block;
    position:relative;
}

/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px; /*TODO: make this responsive */
    margin-left: -150px; /*TODO: make this responsive */
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    display: inline-block;
}