.card{
    width: 75px;
    height: 105px;
    outline: black solid thin;
    background-color: #ffffff;
}

.card > .top{
    height:25%;
    outline: black solid thin; 
    position: relative;
}

.card > .top > .points{
    font-size: large;
    color: #ffffff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    left: 5px;
    width: 25%;
    top: 10%;

    display: inline-block;
    position:absolute;
}
.card > .top > .color{
    display: inline-block;
    float:right;
    right: 10px;
    top: 10%;
    height: 80%;
    width: 28%;
    position:absolute;
}
.gem{
    display: inline-block;
    width: 75px; /*TODO: MAKE THIS DYNAMIC */
}
.gem > .color{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.gem-count{
    display: inline-block;
    width: 100%; /*TODO: MAKE THIS DYNAMIC */
    font-size: small;
}
.card .red, .gem .red  {
    background: url(../img/splendor/red.svg);
    background-size: 100% 100%;
}
.card .blue, .gem .blue  {
    background: url(../img/splendor/blue.svg);
    background-size: 100% 100%;
}
.card .black, .gem .black  {
    background: url(../img/splendor/black.svg);
    background-size: 100% 100%;
}
.card .white, .gem .white  {
    background: url(../img/splendor/white.svg);
    background-size: 100% 100%;
}
.card .green, .gem .green  {
    background: url(../img/splendor/green.svg);
    background-size: 100% 100%;
}
.gems{
    position: relative;
}
.gem .gold  {
    background: url(../img/splendor/gold.svg);
    background-size: 100% 100%;
}
.card > .bottom > .costs > .cost{
    left: 2px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.card > .bottom > .costs > .cost > .cost-amt{
    height: 100%;
    width: 16px; /* TODO: make this responsive eventually */
    display: inline;
}
.card > .bottom > .costs > .cost > .color{
    height: 100%;
    display: inline;
}
.card > .bottom {
    height:75%;
    position: relative;
}
.card > .bottom > .costs{
    position: absolute;
    display: inline-block;
    bottom:0;
    left: 5px;
}

.scoreboard{
    border: 1px solid black;
    float:right;
    width: 377px; /* TODO: make this responsive */
    height: 130px; /* TODO: make this responsive */
}
.scoreboard > .color-category > .deck > .card-container{
    margin-top: -78.75px; /* TODO: make this responsive */
    position:relative;
}
.scoreboard > .color-category{
    display: inline-block;
    width: 20%;
}
.scoreboard > .color-category > .deck{
    margin-top: 78.75px; /* TODO: make this responsive */
}

#you{
    float:right;
}
#bob{
    float:left;
}
#alice{
    float:left;
}
#board{
    position:relative;
    clear:both;
}
#level3-cards, #level2-cards, #level1-cards{
    position:relative;
    margin: 0 auto;
    width:100%;
}

#level3-cards > .card, #level2-cards > .card, #level1-cards > .card{
    position: relative;
    display: inline-block;
    text-align: left;
    
}


.selected{
    background-color: lightgray;
}

.image-and-stats{
    float:left;
}

.image-and-stats > .reserved-cards {
    float:left;
}