.card{
    width: 75px;
    height: 105px;
    outline: black solid thin;
}

.card > .top{
    height:25%;
    opacity: 30;
    outline: black solid thin; 
    position: relative;
}

.card > .top > .points{
    font-size: large;
    color: #ffffff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    left: 5px;
    width: 25%;
    top: 10%;

    display: inline-block;
    position:absolute;
}
.card > .top > .color{
    display: inline-block;
    float:right;
    right: 10px;
    top: 10%;
    height: 80%;
    width: 28%;
    position:absolute;
}
.card .red {
    background: url(../img/splendor/red.svg);
    background-size: 100% 100%;
}
.card .blue {
    background: url(../img/splendor/blue.svg);
    background-size: 100% 100%;
}
.card .black {
    background: url(../img/splendor/black.svg);
    background-size: 100% 100%;
}
.card .white {
    background: url(../img/splendor/white.svg);
    background-size: 100% 100%;
}
.card .green {
    background: url(../img/splendor/green.svg);
    background-size: 100% 100%;
}
.card > .bottom > .costs > .cost{
    left: 2px;
    margin-bottom: 2px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.card > .bottom > .costs > .cost > .cost-amt{
    height: 100%;
    width: 16px; /*  make this responsive eventually */
    display: inline;
}
.card > .bottom > .costs > .cost > .color{
    height: 100%;
    display: inline;
}
.card > .bottom {
    height:75%;
    position: relative;
}
.card > .bottom > .costs{
    position: absolute;
    display: inline-block;
    bottom:0;
    left: 5px;
}